In [3]:

import pandas as pd
import ast

Bangalore

In [4]:
cd_b = pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Guvi\capstone_3\bangalore_cars.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
cd_b.drop(columns = ["car_links"], inplace = True,axis=1)

In [ ]:
def new_car_details(cd_b):
     cd_b["new_car_detail_dict"] = cd_b["new_car_detail"].apply(ast.literal_eval)
     new_car_details_b = pd.json_normalize(cd_b["new_car_detail_dict"])

     return new_car_details_b

new_car_details_b=new_car_details(cd_b)

In [ ]:
def new_car_overview(cd_b):
    # Convert the 'new_car_overview' column to a dictionary
    cd_b["new_car_overview_dict"] = cd_b["new_car_overview"].apply(ast.literal_eval)
    
    # Normalize the dictionary to flatten it into a DataFrame
    new_car_overview_b = pd.json_normalize(cd_b["new_car_overview_dict"])
    
    # Function to extract key-value pairs from the 'details' list
    def extract_key_values_dict(details):
        if isinstance(details, list):  # Check if details is a list
            return {item.get("key"): item.get("value") for item in details if isinstance(item, dict)}
        else:
            return {}
    
    # Apply the extraction function and normalize the resulting dictionaries
    new_car_overview = new_car_overview_b["top"].apply(extract_key_values_dict)
    new_car_overview_blr = pd.json_normalize(new_car_overview)
   
    
    return new_car_overview_blr
new_car_overview_blr = (new_car_overview(cd_b))

In [ ]:
def new_car_specs(cd_b):
    
    cd_b["new_car_specs_dict"] = cd_b["new_car_specs"].apply(ast.literal_eval)

    # function to extract key-value pairs from lists of dictionaries
    def extract_key_value_dicts2(details2):
        return {d['key']: d['value'] for d in details2} if isinstance(details2, list) else {}
    
    # Flatten 'new_car_specs_dict' and remove unnecessary columns
    new_car_specs_b = pd.json_normalize(cd_b['new_car_specs_dict']).drop(columns=["commonIcon"], axis=1)
    
    # Normalize the 'top' column to extract key-value pairs
    new_car_specs_top_blr = pd.json_normalize(new_car_specs_b['top'].apply(extract_key_value_dicts2))
    
    # Normalize and extract key-value pairs for the 'data' column (Engine & Transmission, Dimensions & Capacity, Miscellaneous)
    new_car_specs_data = pd.json_normalize(new_car_specs_b['data'])
    
    # Flatten the 'Engine and Transmission' data (first entry in the 'data' column)
    new_car_specs_data_1 = pd.json_normalize(new_car_specs_data[0])
    new_car_specs_list_blr = new_car_specs_data_1["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_blr = pd.json_normalize(new_car_specs_list_blr)

    # Flatten the 'Dimensions & Capacity' data (second entry in the 'data' column)
    new_car_specs_data_2 = pd.json_normalize(new_car_specs_data[1])
    new_car_specs_list_2_blr = new_car_specs_data_2["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_2_blr = pd.json_normalize(new_car_specs_list_2_blr)

    # Flatten the 'Miscellaneous' data (third entry in the 'data' column)
    new_car_specs_data_3 = pd.json_normalize(new_car_specs_data[2])
    new_car_specs_list_3_blr = new_car_specs_data_3["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_3_blr = pd.json_normalize(new_car_specs_list_3_blr)
    
    # Concatenate all the processed data into a final DataFrame
    bangalore_cars_data = pd.concat([
        new_car_details_b, new_car_overview_blr, new_car_specs_top_blr,
        new_car_specs_list_blr, new_car_specs_list_2_blr, new_car_specs_list_3_blr
    ], axis=1)
    
    return bangalore_cars_data

bangalore_cars_data = new_car_specs(cd_b)

In [ ]:
# add city column to dataframe
bangalore_cars_data["City"] = "Bangalore"

Chennai

In [ ]:
cd_c = pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Guvi\capstone_3\chennai_cars.xlsx")

In [ ]:
cd_c.drop(columns = ["car_links"],inplace = True,axis = 1)

In [ ]:
def new_car_details(cd_c):
     cd_c["new_car_detail_dict"] = cd_c["new_car_detail"].apply(ast.literal_eval)
     new_car_details_c = pd.json_normalize(cd_c["new_car_detail_dict"])

     return new_car_details_c

new_car_details_c=new_car_details(cd_c)

In [ ]:
def new_car_overview(cd_c):
    # Convert the 'new_car_overview' column to a dictionary
    cd_c["new_car_overview_dict"] = cd_c["new_car_overview"].apply(ast.literal_eval)
    
    # Normalize the dictionary to flatten it into a DataFrame
    new_car_overview_c = pd.json_normalize(cd_c["new_car_overview_dict"])
    
    # Function to extract key-value pairs from the 'details' list
    def extract_key_values_dict(details):
        if isinstance(details, list):  # Check if details is a list
            return {item.get("key"): item.get("value") for item in details if isinstance(item, dict)}
        else:
            return {}
    
    # Apply the extraction function and normalize the resulting dictionaries
    new_car_overview = new_car_overview_c["top"].apply(extract_key_values_dict)
    new_car_overview_che = pd.json_normalize(new_car_overview)
   
    
    return new_car_overview_che
new_car_overview_che = (new_car_overview(cd_c))

In [ ]:
def new_car_specs(cd_c):
    
    cd_c["new_car_specs_dict"] = cd_c["new_car_specs"].apply(ast.literal_eval)

    # Helper function to extract key-value pairs from lists of dictionaries
    def extract_key_value_dicts2(details2):
        return {d['key']: d['value'] for d in details2} if isinstance(details2, list) else {}
    
    # Flatten 'new_car_specs_dict' and remove unnecessary columns
    new_car_specs_c = pd.json_normalize(cd_c['new_car_specs_dict']).drop(columns=["commonIcon"], axis=1)
    
    # Normalize the 'top' column to extract key-value pairs
    new_car_specs_top_che = pd.json_normalize(new_car_specs_c['top'].apply(extract_key_value_dicts2))
    
    # Normalize and extract key-value pairs for the 'data' column (Engine & Transmission, Dimensions & Capacity, Miscellaneous)
    new_car_specs_data = pd.json_normalize(new_car_specs_c['data'])
    
    # Flatten the 'Engine and Transmission' data (first entry in the 'data' column)
    new_car_specs_data_1 = pd.json_normalize(new_car_specs_data[0])
    new_car_specs_list_che = new_car_specs_data_1["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_che = pd.json_normalize(new_car_specs_list_che)

    # Flatten the 'Dimensions & Capacity' data (second entry in the 'data' column)
    new_car_specs_data_2 = pd.json_normalize(new_car_specs_data[1])
    new_car_specs_list_2_che = new_car_specs_data_2["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_2_che = pd.json_normalize(new_car_specs_list_2_che)

    # Flatten the 'Miscellaneous' data (third entry in the 'data' column)
    new_car_specs_data_3 = pd.json_normalize(new_car_specs_data[2])
    new_car_specs_list_3_che = new_car_specs_data_3["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_3_che = pd.json_normalize(new_car_specs_list_3_che)
    
    # Concatenate all the processed data into a final DataFrame
    chennai_cars_data = pd.concat([
        new_car_details_c, new_car_overview_che, new_car_specs_top_che,
        new_car_specs_list_che, new_car_specs_list_2_che, new_car_specs_list_3_che
    ], axis=1)
    
    return chennai_cars_data

chennai_cars_data = new_car_specs(cd_c)

In [ ]:
# add city column to dataframe
chennai_cars_data["City"] = "Chennai"

Delhi

In [ ]:
cd_d = pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Guvi\capstone_3\delhi_cars.xlsx")

In [ ]:
cd_d.drop(columns = ["car_links"],inplace = True,axis=1)

In [ ]:
def new_car_details(cd_d):
     cd_d["new_car_detail_dict"] = cd_d["new_car_detail"].apply(ast.literal_eval)
     new_car_details_d = pd.json_normalize(cd_d["new_car_detail_dict"])

     return new_car_details_d

new_car_details_d=new_car_details(cd_d)

In [ ]:
def new_car_overview(cd_d):
    # Convert the 'new_car_overview' column to a dictionary
    cd_d["new_car_overview_dict"] = cd_d["new_car_overview"].apply(ast.literal_eval)
    
    # Normalize the dictionary to flatten it into a DataFrame
    new_car_overview_d = pd.json_normalize(cd_d["new_car_overview_dict"])
    
    # Function to extract key-value pairs from the 'details' list
    def extract_key_values_dict(details):
        if isinstance(details, list):  # Check if details is a list
            return {item.get("key"): item.get("value") for item in details if isinstance(item, dict)}
        else:
            return {}
    
    # Apply the extraction function and normalize the resulting dictionaries
    new_car_overview = new_car_overview_d ["top"].apply(extract_key_values_dict)
    new_car_overview_dl = pd.json_normalize(new_car_overview)
   
    
    return new_car_overview_dl
new_car_overview_dl = (new_car_overview(cd_d))

In [ ]:
def new_car_specs(cd_d):
    
    cd_d["new_car_specs_dict"] = cd_d["new_car_specs"].apply(ast.literal_eval)

    # Helper function to extract key-value pairs from lists of dictionaries
    def extract_key_value_dicts2(details2):
        return {d['key']: d['value'] for d in details2} if isinstance(details2, list) else {}
    
    # Flatten 'new_car_specs_dict' and remove unnecessary columns
    new_car_specs_d = pd.json_normalize(cd_d['new_car_specs_dict']).drop(columns=["commonIcon"], axis=1)
    
    # Normalize the 'top' column to extract key-value pairs
    new_car_specs_top_dl = pd.json_normalize(new_car_specs_d['top'].apply(extract_key_value_dicts2))
    
    # Normalize and extract key-value pairs for the 'data' column (Engine & Transmission, Dimensions & Capacity, Miscellaneous)
    new_car_specs_data = pd.json_normalize(new_car_specs_d['data'])
    
    # Flatten the 'Engine and Transmission' data (first entry in the 'data' column)
    new_car_specs_data_1 = pd.json_normalize(new_car_specs_data[0])
    new_car_specs_list_dl = new_car_specs_data_1["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_dl = pd.json_normalize(new_car_specs_list_dl)

    # Flatten the 'Dimensions & Capacity' data (second entry in the 'data' column)
    new_car_specs_data_2 = pd.json_normalize(new_car_specs_data[1])
    new_car_specs_list_2_dl = new_car_specs_data_2["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_2_dl = pd.json_normalize(new_car_specs_list_2_dl)

    # Flatten the 'Miscellaneous' data (third entry in the 'data' column)
    new_car_specs_data_3 = pd.json_normalize(new_car_specs_data[2])
    new_car_specs_list_3_dl = new_car_specs_data_3["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_3_dl = pd.json_normalize(new_car_specs_list_3_dl)
    
    # Concatenate all the processed data into a final DataFrame
    delhi_cars_data = pd.concat([
        new_car_details_d, new_car_overview_dl, new_car_specs_top_dl,
        new_car_specs_list_dl, new_car_specs_list_2_dl, new_car_specs_list_3_dl
    ], axis=1)
    
    return delhi_cars_data
delhi_cars_data = new_car_specs(cd_d)

In [ ]:
#add city name to the dataframe
delhi_cars_data["City"]="Delhi"

Hydreabad

In [ ]:
cd_h = pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Guvi\capstone_3\hyderabad_cars.xlsx")

In [ ]:
cd_h.drop(columns=["car_links"],inplace=True,axis = 1)

In [ ]:
def new_car_details(cd_h):
     cd_h["new_car_detail_dict"] = cd_h["new_car_detail"].apply(ast.literal_eval)
     new_car_details_h = pd.json_normalize(cd_h["new_car_detail_dict"])

     return new_car_details_h

new_car_details_h=new_car_details(cd_h)

In [ ]:
def new_car_overview(cd_h):
    # Convert the 'new_car_overview' column to a dictionary
    cd_h["new_car_overview_dict"] = cd_h["new_car_overview"].apply(ast.literal_eval)
    
    # Normalize the dictionary to flatten it into a DataFrame
    new_car_overview_h = pd.json_normalize(cd_h["new_car_overview_dict"])
    
    # Function to extract key-value pairs from the 'details' list
    def extract_key_values_dict(details):
        if isinstance(details, list):  # Check if details is a list
            return {item.get("key"): item.get("value") for item in details if isinstance(item, dict)}
        else:
            return {}
    
    # Apply the extraction function and normalize the resulting dictionaries
    new_car_overview = new_car_overview_h["top"].apply(extract_key_values_dict)
    new_car_overview_hy = pd.json_normalize(new_car_overview)
   
    
    return new_car_overview_hy
new_car_overview_hy = (new_car_overview(cd_h))

In [ ]:
def new_car_specs(cd_h):
    
    cd_h["new_car_specs_dict"] = cd_h["new_car_specs"].apply(ast.literal_eval)

    # Helper function to extract key-value pairs from lists of dictionaries
    def extract_key_value_dicts2(details2):
        return {d['key']: d['value'] for d in details2} if isinstance(details2, list) else {}
    
    # Flatten 'new_car_specs_dict' and remove unnecessary columns
    new_car_specs_h = pd.json_normalize(cd_h['new_car_specs_dict']).drop(columns=["commonIcon"], axis=1)
    
    # Normalize the 'top' column to extract key-value pairs
    new_car_specs_top_hy = pd.json_normalize(new_car_specs_h['top'].apply(extract_key_value_dicts2))
    
    # Normalize and extract key-value pairs for the 'data' column (Engine & Transmission, Dimensions & Capacity, Miscellaneous)
    new_car_specs_data = pd.json_normalize(new_car_specs_h['data'])
    
    # Flatten the 'Engine and Transmission' data (first entry in the 'data' column)
    new_car_specs_data_1 = pd.json_normalize(new_car_specs_data[0])
    new_car_specs_list_hy = new_car_specs_data_1["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_hy = pd.json_normalize(new_car_specs_list_hy)

    # Flatten the 'Dimensions & Capacity' data (second entry in the 'data' column)
    new_car_specs_data_2 = pd.json_normalize(new_car_specs_data[1])
    new_car_specs_list_2_hy = new_car_specs_data_2["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_2_hy = pd.json_normalize(new_car_specs_list_2_hy)

    # Flatten the 'Miscellaneous' data (third entry in the 'data' column)
    new_car_specs_data_3 = pd.json_normalize(new_car_specs_data[2])
    new_car_specs_list_3_hy = new_car_specs_data_3["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_3_hy = pd.json_normalize(new_car_specs_list_3_hy)
    
    # Concatenate all the processed data into a final DataFrame
    hyderabad_cars_data = pd.concat([
        new_car_details_h, new_car_overview_hy, new_car_specs_top_hy,
        new_car_specs_list_hy, new_car_specs_list_2_hy, new_car_specs_list_3_hy
    ], axis=1)
    
    return hyderabad_cars_data
hyderabad_cars_data = new_car_specs(cd_h)

In [ ]:
# add city column to dataframe
hyderabad_cars_data["City"] = "Hyderabad"

Jaipur

In [ ]:
cd_j = pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Guvi\capstone_3\jaipur_cars.xlsx")

In [ ]:
cd_j.drop(columns=["car_links"],inplace=True,axis=1)

In [ ]:
def new_car_details(cd_j):
     cd_j["new_car_detail_dict"] = cd_j["new_car_detail"].apply(ast.literal_eval)
     new_car_details_j = pd.json_normalize(cd_j["new_car_detail_dict"])

     return new_car_details_j

new_car_details_j=new_car_details(cd_j)

In [ ]:
def new_car_overview(cd_j):
    # Convert the 'new_car_overview' column to a dictionary
    cd_j["new_car_overview_dict"] = cd_j["new_car_overview"].apply(ast.literal_eval)
    
    # Normalize the dictionary to flatten it into a DataFrame
    new_car_overview_j = pd.json_normalize(cd_j["new_car_overview_dict"])
    
    # Function to extract key-value pairs from the 'details' list
    def extract_key_values_dict(details):
        if isinstance(details, list):  # Check if details is a list
            return {item.get("key"): item.get("value") for item in details if isinstance(item, dict)}
        else:
            return {}
    
    # Apply the extraction function and normalize the resulting dictionaries
    new_car_overview = new_car_overview_j["top"].apply(extract_key_values_dict)
    new_car_overview_jp = pd.json_normalize(new_car_overview)
   
    
    return new_car_overview_jp
new_car_overview_jp = (new_car_overview(cd_j))

In [ ]:
def new_car_specs(cd_j):
    
    cd_j["new_car_specs_dict"] = cd_j["new_car_specs"].apply(ast.literal_eval)

    # Helper function to extract key-value pairs from lists of dictionaries
    def extract_key_value_dicts2(details2):
        return {d['key']: d['value'] for d in details2} if isinstance(details2, list) else {}
    
    # Flatten 'new_car_specs_dict' and remove unnecessary columns
    new_car_specs_j = pd.json_normalize(cd_j['new_car_specs_dict']).drop(columns=["commonIcon"], axis=1)
    
    # Normalize the 'top' column to extract key-value pairs
    new_car_specs_top_jp = pd.json_normalize(new_car_specs_j['top'].apply(extract_key_value_dicts2))
    
    # Normalize and extract key-value pairs for the 'data' column (Engine & Transmission, Dimensions & Capacity, Miscellaneous)
    new_car_specs_data = pd.json_normalize(new_car_specs_j['data'])
    
    # Flatten the 'Engine and Transmission' data (first entry in the 'data' column)
    new_car_specs_data_1 = pd.json_normalize(new_car_specs_data[0])
    new_car_specs_list_jp = new_car_specs_data_1["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_jp = pd.json_normalize(new_car_specs_list_jp)

    # Flatten the 'Dimensions & Capacity' data (second entry in the 'data' column)
    new_car_specs_data_2 = pd.json_normalize(new_car_specs_data[1])
    new_car_specs_list_2_jp = new_car_specs_data_2["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_2_jp = pd.json_normalize(new_car_specs_list_2_jp)

    # Flatten the 'Miscellaneous' data (third entry in the 'data' column)
    new_car_specs_data_3 = pd.json_normalize(new_car_specs_data[2])
    new_car_specs_list_3_jp = new_car_specs_data_3["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_3_jp = pd.json_normalize(new_car_specs_list_3_jp)
    
    # Concatenate all the processed data into a final DataFrame
    jaipur_cars_data = pd.concat([
        new_car_details_j, new_car_overview_jp, new_car_specs_top_jp,
        new_car_specs_list_jp, new_car_specs_list_2_jp, new_car_specs_list_3_jp
    ], axis=1)
    
    return jaipur_cars_data
jaipur_cars_data = new_car_specs(cd_j)

In [ ]:
# add city column to dataframe
jaipur_cars_data["City"] = "Jaipur"

Kolkata

In [ ]:
cd_k = pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Guvi\capstone_3\kolkata_cars.xlsx")

In [ ]:
cd_k.drop(columns = ["car_links"],inplace = True , axis = 1)

In [ ]:
def new_car_details(cd_k):
     cd_k["new_car_detail_dict"] = cd_k["new_car_detail"].apply(ast.literal_eval)
     new_car_details_k = pd.json_normalize(cd_k["new_car_detail_dict"])

     return new_car_details_k

new_car_details_k=new_car_details(cd_k)

In [ ]:
def new_car_overview(cd_k):
    # Convert the 'new_car_overview' column to a dictionary
    cd_k["new_car_overview_dict"] = cd_k["new_car_overview"].apply(ast.literal_eval)
    
    # Normalize the dictionary to flatten it into a DataFrame
    new_car_overview_k = pd.json_normalize(cd_k["new_car_overview_dict"])
    
    # Function to extract key-value pairs from the 'details' list
    def extract_key_values_dict(details):
        if isinstance(details, list):  # Check if details is a list
            return {item.get("key"): item.get("value") for item in details if isinstance(item, dict)}
        else:
            return {}
    
    # Apply the extraction function and normalize the resulting dictionaries
    new_car_overview = new_car_overview_k["top"].apply(extract_key_values_dict)
    new_car_overview_kl = pd.json_normalize(new_car_overview)
   
    
    return new_car_overview_kl
new_car_overview_kl = (new_car_overview(cd_k))

In [ ]:
def new_car_specs(cd_k):
    
    cd_k["new_car_specs_dict"] = cd_k["new_car_specs"].apply(ast.literal_eval)

    # Helper function to extract key-value pairs from lists of dictionaries
    def extract_key_value_dicts2(details2):
        return {d['key']: d['value'] for d in details2} if isinstance(details2, list) else {}
    
    # Flatten 'new_car_specs_dict' and remove unnecessary columns
    new_car_specs_k = pd.json_normalize(cd_k['new_car_specs_dict']).drop(columns=["commonIcon"], axis=1)
    
    # Normalize the 'top' column to extract key-value pairs
    new_car_specs_top_kl = pd.json_normalize(new_car_specs_k['top'].apply(extract_key_value_dicts2))
    
    # Normalize and extract key-value pairs for the 'data' column (Engine & Transmission, Dimensions & Capacity, Miscellaneous)
    new_car_specs_data = pd.json_normalize(new_car_specs_k['data'])
    
    # Flatten the 'Engine and Transmission' data (first entry in the 'data' column)
    new_car_specs_data_1 = pd.json_normalize(new_car_specs_data[0])
    new_car_specs_list_kl = new_car_specs_data_1["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_kl = pd.json_normalize(new_car_specs_list_kl)

    # Flatten the 'Dimensions & Capacity' data (second entry in the 'data' column)
    new_car_specs_data_2 = pd.json_normalize(new_car_specs_data[1])
    new_car_specs_list_2_kl = new_car_specs_data_2["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_2_kl = pd.json_normalize(new_car_specs_list_2_kl)

    # Flatten the 'Miscellaneous' data (third entry in the 'data' column)
    new_car_specs_data_3 = pd.json_normalize(new_car_specs_data[2])
    new_car_specs_list_3_kl = new_car_specs_data_3["list"].apply(extract_key_value_dicts2)
    new_car_specs_list_3_kl = pd.json_normalize(new_car_specs_list_3_kl)
    
    # Concatenate all the processed data into a final DataFrame
    kolkata_cars_data = pd.concat([
        new_car_details_k, new_car_overview_kl, new_car_specs_top_kl,
        new_car_specs_list_kl, new_car_specs_list_2_kl, new_car_specs_list_3_kl
    ], axis=1)
    
    return kolkata_cars_data
kolkata_cars_data = new_car_specs(cd_k)

In [ ]:
#add city column to dataframe
kolkata_cars_data["City"] = "kolkata"

Merge all cities dataframe

In [ ]:
# List of dataframes
all_cities_car_data = [bangalore_cars_data,chennai_cars_data,delhi_cars_data,hyderabad_cars_data,jaipur_cars_data,kolkata_cars_data] 

# 1. rename duplicate columns to unique column names
def rename_duplicate_columns(df):
    # find duplicate columns
    cols = pd.Series(df.columns)
    for dup in cols[cols.duplicated()].unique():
        #rename duplicates by appending a suffix '_1','_2',etc.
        count = 0
        for i in range(len(cols)):
            if cols[i] == dup:
                count += 1
                if count > 1:
                    cols[i] = f"{dup}_{count-1}"
    df.columns = cols
    return df

#apply the function to each dataframe to ensure unique column names

all_cities_car_data = [rename_duplicate_columns(df) for df in all_cities_car_data]

# 2. ensure all dataframes have the same columns
# get the set of all unique column names across all dataframes 

all_columns = set()
for df in all_cities_car_data:
    all_columns.update(df.columns)

# add missing columns to ech dataframe with Nan values
for df in all_cities_car_data:
    missing_cols = all_columns - set(df.columns)
    for col in missing_cols:
        df[col] = pd.NA

# 3 . Concatenate Dataframes with outer join 
# Reset index for each Dataframe to avoid index conflicts
all_cities_car_data = [df.reset_index(drop=True) for df in all_cities_car_data]

#concatenate all dataframes along rows (axis=0) with outer join
combined_df = pd.concat(all_cities_car_data, axis = 0, join = 'outer', ignore_index = True)

print(combined_df.shape)
combined_df.head()

(8369, 88)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Cargo Volumn,Alloy Wheel Size_2,City,Top Speed_1,Gear Box_1,Rear Brake Type_1,Acceleration_1,Front Brake Type_1,Drive Type_1,Turning Radius_1
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,235-litres,NaN,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,352-litres,16,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,242-litres,14,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,407-litres,14,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,353-litres,16,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
combined_df.isnull().sum()

it                       0
ft                       0
bt                       0
km                       0
transmission             0
                      ...
Rear Brake Type_1     5796
Acceleration_1        6822
Front Brake Type_1    5796
Drive Type_1          6215
Turning Radius_1      6277
Length: 88, dtype: int64

In [ ]:
combined_df.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'trendingText.imgUrl',
       'trendingText.heading', 'trendingText.desc', 'Registration Year',
       'Insurance Validity', 'Fuel Type', 'Seats', 'Kms Driven', 'RTO',
       'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'Mileage', 'Engine', 'Max Power', 'Torque',
       'Seats_1', 'Wheel Size', 'Color', 'Engine Type', 'Displacement',
       'Max Power_1', 'Max Torque', 'No of Cylinder', 'Values per Cylinder',
       'Value Configuration', 'Fuel Suppy System', 'BoreX Stroke',
       'Compression Ratio', 'Turbo Charger', 'Super Charger',
       'Seating Capacity', 'Steering Type', 'Tyre Type', 'Alloy Wheel Size',
       'No Door Numbers', 'Length', 'Width', 'Height', 'Wheel Base',
       'Front Tread', 'Rear Tread', 'Kerb Weight', 'Gross Weight',
       'Ground Clearance Unladen', 'Seating Capacity_1', 'Steering Type_1',
       'Tyre Type_1', 'Alloy Wheel Size_1', 'No Door Numbers_1', 'Gear Box',
       'Drive Type', 'Seating Capacity_2', 'Steering Type_2', 'Turning Radius',
       'Front Brake Type', 'Rear Brake Type', 'Top Speed', 'Acceleration',
       'Tyre Type_2', 'No Door Numbers_2', 'Cargo Volumn',
       'Alloy Wheel Size_2', 'City', 'Top Speed_1', 'Gear Box_1',
       'Rear Brake Type_1', 'Acceleration_1', 'Front Brake Type_1',
       'Drive Type_1', 'Turning Radius_1'],
      dtype='object')

In [ ]:
# drop column from dataframe
combined_df.drop(columns=["owner","centralVariantId","priceActual","priceSaving","priceFixedText","trendingText.imgUrl",
                          "trendingText.heading","trendingText.desc","Registration Year","RTO","Ownership",
                          "Engine Displacement","Seats","Wheel Size","Engine Type","Displacement","Max Power_1",
                          "Max Torque","No of Cylinder","Values per Cylinder","Values per Cylinder","Fuel Suppy System",
                          "BoreX Stroke","Compression Ratio","Turbo Charger","Super Charger","Seating Capacity",
                          "Tyre Type","Alloy Wheel Size","Height","Width","Wheel Base","Alloy Wheel Size_1",
                          "Front Tread","Rear Tread","Kerb Weight","Gross Weight","Ground Clearance Unladen",
                          "Seating Capacity_1","Seating Capacity_1","Tyre Type_1","No Door Numbers_1",
                          "Seating Capacity_2","Steering Type_2","Turning Radius","Front Brake Type","Rear Brake Type",
                          "Top Speed","Acceleration","Tyre Type_2","No Door Numbers_2","Alloy Wheel Size_2","Acceleration_1","Top Speed_1",
                          "Rear Brake Type_1","Front Brake Type_1","Gear Box_1","Turning Radius_1","variantName","Value Configuration","Steering Type",
                          "No Door Numbers","Length","Cargo Volumn","Drive Type_1","Torque","Steering Type_1","Year of Manufacture","Max Power","Transmission",
                          "Fuel Type","km"],inplace=True,axis=1)
combined_df

,it,ft,bt,transmission,ownerNo,oem,model,modelYear,price,Insurance Validity,Kms Driven,Mileage,Engine,Seats_1,Color,Gear Box,Drive Type,City
0,0,Petrol,Hatchback,Manual,3,Maruti,Maruti Celerio,2015,₹ 4 Lakh,Third Party insurance,"1,20,000 Kms",23.1 kmpl,998 CC,5,White,5 Speed,FWD,Bangalore
1,0,Petrol,SUV,Manual,2,Ford,Ford Ecosport,2018,₹ 8.11 Lakh,Comprehensive,"32,706 Kms",17 kmpl,1497 CC,5,White,5 Speed,FWD,Bangalore
2,0,Petrol,Hatchback,Manual,1,Tata,Tata Tiago,2018,₹ 5.85 Lakh,Comprehensive,"11,949 Kms",23.84 kmpl,1199 CC,5,Red,5 Speed,FWD,Bangalore
3,0,Petrol,Sedan,Manual,1,Hyundai,Hyundai Xcent,2014,₹ 4.62 Lakh,Comprehensive,"17,794 Kms",19.1 kmpl,1197 CC,5,Others,5 Speed,FWD,Bangalore
4,0,Diesel,SUV,Manual,1,Maruti,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Third Party insurance,"60,000 Kms",23.65 kmpl,1248 CC,5,Gray,5 Speed,FWD,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,Manual,1,Maruti,Maruti Celerio,2022,₹ 5.10 Lakh,Third Party insurance,"10,000 Kms",25.24 kmpl,998 CC,5,Others,5-Speed,NaN,kolkata
8365,0,Petrol,Hatchback,Manual,1,Maruti,Maruti Alto 800,2014,₹ 1.80 Lakh,Third Party insurance,"1,20,000 Kms",22.74 kmpl,796 CC,5,Others,5 Speed,FWD,kolkata
8366,0,Petrol,Sedan,Automatic,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,₹ 5.50 Lakh,Third Party insurance,"50,000 Kms",11.74 kmpl,1796 CC,5,Others,7 Speed,RWD,kolkata
8367,0,Petrol,Hatchback,Manual,1,Maruti,Maruti Ritz,2012,₹ 1.40 Lakh,Third Party insurance,"40,000 Kms",18.5 kmpl,1197 CC,5,Others,5 Speed,FWD,kolkata
8368,0,Diesel,SUV,Manual,2,Renault,Renault Duster,2017,₹ 5 Lakh,Third Party insurance,"1,20,000 Kms",19.72 kmpl,1461 CC,5,Others,6 Speed,AWD,kolkata

In [ ]:
# change dataframe to csv
combined_df.to_csv("Total_cars_data.csv",index = False)

In [ ]:
data = pd.read_csv("Total_cars_data.csv")
data

,it,ft,bt,transmission,ownerNo,oem,model,modelYear,price,Insurance Validity,Kms Driven,Mileage,Engine,Seats_1,Color,Gear Box,Drive Type,City
0,0,Petrol,Hatchback,Manual,3,Maruti,Maruti Celerio,2015,₹ 4 Lakh,Third Party insurance,"1,20,000 Kms",23.1 kmpl,998 CC,5.0,White,5 Speed,FWD,Bangalore
1,0,Petrol,SUV,Manual,2,Ford,Ford Ecosport,2018,₹ 8.11 Lakh,Comprehensive,"32,706 Kms",17 kmpl,1497 CC,5.0,White,5 Speed,FWD,Bangalore
2,0,Petrol,Hatchback,Manual,1,Tata,Tata Tiago,2018,₹ 5.85 Lakh,Comprehensive,"11,949 Kms",23.84 kmpl,1199 CC,5.0,Red,5 Speed,FWD,Bangalore
3,0,Petrol,Sedan,Manual,1,Hyundai,Hyundai Xcent,2014,₹ 4.62 Lakh,Comprehensive,"17,794 Kms",19.1 kmpl,1197 CC,5.0,Others,5 Speed,FWD,Bangalore
4,0,Diesel,SUV,Manual,1,Maruti,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Third Party insurance,"60,000 Kms",23.65 kmpl,1248 CC,5.0,Gray,5 Speed,FWD,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,Manual,1,Maruti,Maruti Celerio,2022,₹ 5.10 Lakh,Third Party insurance,"10,000 Kms",25.24 kmpl,998 CC,5.0,Others,5-Speed,NaN,kolkata
8365,0,Petrol,Hatchback,Manual,1,Maruti,Maruti Alto 800,2014,₹ 1.80 Lakh,Third Party insurance,"1,20,000 Kms",22.74 kmpl,796 CC,5.0,Others,5 Speed,FWD,kolkata
8366,0,Petrol,Sedan,Automatic,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,₹ 5.50 Lakh,Third Party insurance,"50,000 Kms",11.74 kmpl,1796 CC,5.0,Others,7 Speed,RWD,kolkata
8367,0,Petrol,Hatchback,Manual,1,Maruti,Maruti Ritz,2012,₹ 1.40 Lakh,Third Party insurance,"40,000 Kms",18.5 kmpl,1197 CC,5.0,Others,5 Speed,FWD,kolkata
8368,0,Diesel,SUV,Manual,2,Renault,Renault Duster,2017,₹ 5 Lakh,Third Party insurance,"1,20,000 Kms",19.72 kmpl,1461 CC,5.0,Others,6 Speed,AWD,kolkata